<div class="container-fluid container-main">
	<div class="row-fluid">
		<div class="span4">
			<div class="well">
			<h3>Edit your profile</h3>
			<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => "form-horizontal" }) do |f| %>
				<%= devise_error_messages! %>

				<div class="control-group">
					<%= f.label :username, :class => "control-label" %>
					<div class="controls">
						<%= f.text_field :username, :class => "input-medium" %>
					</div>
				</div>

				<div class="control-group">
					<%= f.label :email, :class => "control-label" %>
					<div class="controls">
						<%= f.email_field :email, :class => "input-medium" %>
					</div>
				</div>
			
				<div class="control-group">
					<%= f.label :password, :class => "control-label" %>
					<div class="controls">
						<%= f.password_field :password, :autocomplete => "off", :class => "input-medium" %>
						<small class="help-block">Leave blank if you don't want to change it</small>
					</div>
				</div>

				<div class="control-group">
					<%= f.label :password_confirmation,"Confirm Password", :class => "control-label" %>
					<div class="controls">
						<%= f.password_field :password_confirmation, :class => "input-medium" %>
					</div>
				</div>

				<div class="control-group">
					<%= f.label :current_password, :class => "control-label" %>
					<div class="controls">
						<%= f.password_field :current_password, :class => "input-medium" %>
						<small class="help-block">We need your current password to confirm your changes</small>
					</div>
				</div>

				<div class="form-actions">
				  	<%= f.submit "Update", :class => "btn btn-primary" %>
					<%= link_to "Back", :back, :class => "btn" %>
				</div>
			<% end %>
			
			<strong>Cancel my account</strong>
			<p>
				Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %>.
			</p>
			</div>
		</div>	
	</div>
</div>
