<div class="container show-location">
  <div class="row">
    <div class="span8">
      <p id="notice"><%= notice %></p>

      <h1><%= @location.name %> <small>discovered by <%= @location.user.try(:username) %></small></h1>
      <hr class="divider" />

      <h2>
        Reviews
        <% if !user_signed_in? %>
            <small>
              <%= link_to "Login", "#loginModal", "data-toggle" => "modal", "role" => "button" %>
              or
              <%= link_to "Sign Up", "#registerModal", "data-toggle" => "modal", "role" => "button" %>
              to write your own review!
            </small>
        <% end %>
      </h2>
      <%= render :partial => 'list_reviews' %>
      <%= render :partial => 'reviews/form' %>

      <%= link_to 'Edit', edit_location_path(@location) %> |
      <%= link_to 'Back', locations_path %>
    </div>
    <div class="span4">
      <%= gmaps({
                        "map_options" => {"auto_zoom" => false, "zoom" => 15, "type" => "SATELLITE", "minZoom" => 2 },
                        "markers"     => {"data" => @json }
                })
      %>
      <h2>
        Species
        <small>
          What's people fishing here?
        </small>
      </h2>
      <%= render :partial => 'list_shoals' %>
    </div>
  </div>
</div>