<div class="container show-location">
  <div class="row">
    <div class="span8">
      <p id="notice"><%= notice %></p>

      <h1><%= @location.name %> <small>created by <%= @location.user.try(:username) %> on <%= l @location.created_at, :format => :long %></small></h1>

      <h2>Reviews</h2>
      <% @location.reviews.each do |review| %>
          <div class="well">
            <p>
              <%= review.body %>
            </p>

            <p>
              Written by <%= review.user.try(:username) %> on <%= l review.created_at, :format => :long %>
            </p>
          </div>
      <% end %>

      <%= render :partial => 'reviews/form' %>

      <%= link_to 'Edit', edit_location_path(@location) %> |
      <%= link_to 'Back', locations_path %>
    </div>
    <div class="span4">
      <%= gmaps({
                        "map_options" => {"auto_zoom" => false, "zoom" => 15, "type" => "SATELLITE", "minZoom" => 2 },
                        "markers"     => {"data" => @json }
                })
      %>
      <h3>
        Species
      </h3>
    </div>
  </div>
</div>