<div class="container">
	<p id="notice"><%= notice %></p>

	<h1><%= @location.name %></h1>
	
	<%= @location.latitude %>
	<%= @location.longitude %>

	<%= link_to 'Edit', edit_location_path(@location) %> |
	<%= link_to 'Back', locations_path %>
</div>